# Filetype ignores
*.jar
*.class
*.sw[po]

# Ignore gradle build folder
.gradle/

# Ignore IntelliJ IDEA project files
*.ipr
*.iws
*.iml

# Ignore IntelliJ output folder
out/
build/

# Ignore eclipse project files
.classpath
.project
.settings
